extends includes/_layout
block page_header
	include includes/_header
block page_title_slider
	.page-title.page-menu(data-bottom-top="background-position: 50% 50px;" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -50px;")
		.container
			.title-wrapper
				.title(data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(-5px);" data--50-top="transform: translateY(-15px);opacity:0.8;" data--120-top="transform: translateY(-30px);opacity:0;" data-anchor-target=".page-title")
					| Menu Grid 01
				.divider(data-top="opacity:1;" data--120-top="opacity:0;" data-anchor-target=".page-title")
					span.line-before
					span.dot
					span.line-after
				.subtitle(data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(5px);" data--50-top="transform: translateY(15px);opacity:0.8;" data--120-top="transform: translateY(30px);opacity:0;" data-anchor-target=".page-title")
					| The various dishes are waiting for your coming to enjoy its
block append config
	- var page_title = 'Menu Grid 01'
	- var Current_page = 'menu-grid-01'
	- var Current_parent = 'menu'
block main
	section.product-sesction-02.padding-top-100.padding-bottom-100
		div.container
			.swin-sc.swin-sc-title.style-3
				p.title
					span Breakfast Time
			.swin-sc.swin-sc-product.products-02.carousel-02
				.row
					.col-md-2
					.cat-wrapper-02.main-slider(data-slide-toshow='5').col-md-8
						.item.mt-0
							.cat-icons
								i.icons.swin-icon-pasta
								h5.cat-title Breakfast
						.item.mt-0
							.cat-icons
								i.icons.swin-icon-fish
								h5.cat-title Lunch
						.item.mt-0
							.cat-icons
								i.icons.swin-icon-meat
							h5.cat-title Dinner
						.item.mt-0
							.cat-icons
								i.icons.swin-icon-ice-cream
							h5.cat-title Desset
						.item.mt-0
							.cat-icons
								i.icons.swin-icon-dinner
							h5.cat-title Drink
					.col-md-2
				.products.nav-slider
					.slick-padding
						.row
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 25.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato fly
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 5.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2c.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 20.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2e.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Jambon Salad Hot Bread
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2f.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 15.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2d.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 30.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2k.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Jambon Salad Hot Bread
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2l.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 15.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2n.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 30.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
					.slick-padding
						.row
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2e.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Jambon Salad Hot Bread
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2f.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 15.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2d.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 30.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
					.slick-padding
						.row
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2a.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 25.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato fly
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 5.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2c.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 20.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
					.slick-padding
						.row
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2e.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Jambon Salad Hot Bread
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2f.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 15.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2a.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 25.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato fly
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 5.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2c.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 20.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2d.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 30.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
					.slick-padding
						.row
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2e.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Jambon Salad Hot Bread
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2f.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 15.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
							.col-md-4.col-sm-6.col-12
								.blog-item.item.swin-transition
									.block-img
										img.img.img-fluid(src='assets/images/product/product-2d.jpg', alt='')
										.block-circle.price-wrapper
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 30.0
										.group-btn
											a.swin-btn.btn-link(href='javascript:void(0)')
												i.icons.fa.fa-link
											a.swin-btn.btn-add-to-card(href='javascript:void(0)')
												i.fa.fa-shopping-basket
									.block-content
										h5.title
											a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
										.product-info
											ul.list-inline
												li.list-inline-item.author
													span Chef
													span.text Don Joe
												li.list-inline-item.rating
													a(href="javascript:void(0)")
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star
														i.fa.fa-star-o
			.swin-btn-wrap.center.mtxxl
				a.link-underline.link-underline-opacity-0.swin-btn.center.btn-transparent(href='#') 
					span Load More
	section.product-sesction-03-1.padding-top-100.padding-bottom-100
		img.img-fluid.img-decorate(src='assets/images/product/product-decorate.jpg', alt='')
		div.container
			div.row
				div.col-lg-6.col-md-4
				div.col-lg-6.col-md-8
					.swin-sc.swin-sc-title.text-left.light
						p.top-title
							span chef choise
						h3.title Daily Special
					.swin-sc.swin-sc-product.products-01.style-04.light.swin-vetical-slider
						.row
							.col-md-12
								.products.nav-slider(data-height="200")
									.item.product-01.d-flex
										.item-left
											img.img.img-fluid(src='assets/images/product/product-2a.jpg', alt='')
											.content-wrapper
												a.link-underline.link-underline-opacity-0.title The Cracker Barrel's Country Boy Breakfast
												.dot .....................................................................
												.des Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										.item-right
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 25.0
									.item.product-01.d-flex
										.item-left
											img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
											.content-wrapper
												a.link-underline.link-underline-opacity-0.title Uncle Herschel's Favorite 
												.dot .....................................................................
												.des Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										.item-right
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
									.item.product-01.d-flex
										.item-left
											img.img.img-fluid(src='assets/images/product/product-2c.jpg', alt='')
											.content-wrapper
												a.link-underline.link-underline-opacity-0.title Grandpa's Country Fried Breakfast 
												.dot .....................................................................
												.des Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										.item-right
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 30.0
									.item.product-01.d-flex
										.item-left
											img.img.img-fluid(src='assets/images/product/product-2d.jpg', alt='')
											.content-wrapper
												a.link-underline.link-underline-opacity-0.title Chinese Chicken Bread Spicy Soup
												.dot .....................................................................
												.des Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										.item-right
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 12.0
									.item.product-01.d-flex
										.item-left
											img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
											.content-wrapper
												a.link-underline.link-underline-opacity-0.title Uncle Herschel's Favorite 
												.dot .....................................................................
												.des Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										.item-right
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 45.0
									.item.product-01.d-flex
										.item-left
											img.img.img-fluid(src='assets/images/product/product-2a.jpg', alt='')
											.content-wrapper
												a.link-underline.link-underline-opacity-0.title The Cracker Barrel's Country Boy Breakfast
												.dot .....................................................................
												.des Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										.item-right
											span.price.woocommerce-Price-amount.amount
												span.price-symbol $
												| 25.0
	section.product-sesction-02.padding-top-100.padding-bottom-100
		div.container
			.swin-sc.swin-sc-title.style-3
				p.title
					span Lunch Time
			.swin-sc.swin-sc-product.products-02
				.products
					.row.slick-padding
						.col-md-4.col-sm-6.col-12
							.blog-item.item.swin-transition
								.block-img
									img.img.img-fluid(src='assets/images/product/product-2a.jpg', alt='')
									.block-circle.price-wrapper
										span.price.woocommerce-Price-amount.amount
											span.price-symbol $
											| 25.0
									.group-btn
										a.swin-btn.btn-link(href='javascript:void(0)')
											i.icons.fa.fa-link
										a.swin-btn.btn-add-to-card(href='javascript:void(0)')
											i.fa.fa-shopping-basket
								.block-content
									h5.title
										a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato fly
									.product-info
										ul.list-inline
											li.list-inline-item.author
												span Chef
												span.text Don Joe
											li.list-inline-item.rating
												a(href="javascript:void(0)")
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star-o
						.col-md-4.col-sm-6.col-12
							.blog-item.item.swin-transition
								.block-img
									img.img.img-fluid(src='assets/images/product/product-2b.jpg', alt='')
									.block-circle.price-wrapper
										span.price.woocommerce-Price-amount.amount
											span.price-symbol $
											| 5.0
									.group-btn
										a.swin-btn.btn-link(href='javascript:void(0)')
											i.icons.fa.fa-link
										a.swin-btn.btn-add-to-card(href='javascript:void(0)')
											i.fa.fa-shopping-basket
								.block-content
									h5.title
										a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Mexico Beafsteak Potato
									.product-info
										ul.list-inline
											li.list-inline-item.author
												span Chef
												span.text Don Joe
											li.list-inline-item.rating
												a(href="javascript:void(0)")
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star-o
						.col-md-4.col-sm-6.col-12
							.blog-item.item.swin-transition
								.block-img
									img.img.img-fluid(src='assets/images/product/product-2c.jpg', alt='')
									.block-circle.price-wrapper
										span.price.woocommerce-Price-amount.amount
											span.price-symbol $
											| 20.0
									.group-btn
										a.swin-btn.btn-link(href='javascript:void(0)')
											i.icons.fa.fa-link
										a.swin-btn.btn-add-to-card(href='javascript:void(0)')
											i.fa.fa-shopping-basket
								.block-content
									h5.title
										a.link-underline.link-underline-opacity-0(href="javascript:void(0)") Madagasca Lopster Tasty
									.product-info
										ul.list-inline
											li.list-inline-item.author
												span Chef
												span.text Don Joe
											li.list-inline-item.rating
												a(href="javascript:void(0)")
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star-o