footer
    div.subscribe-section
        img.img-subscribe(src="assets/images/background/bg5.png", alt="")
        div.container
            .subscribe-wrapper
                div.row.justify-content-center
                    div.col-lg-8.col-lg-offset-2
                        .subscribe-heading
                            h3.title Subcribe Us Now
                            .des Get more news and delicious dishes everyday from us
                        form.widget-newsletter
                            input.form-control(placeholder="Email")
                            span.submit
                                i.fa.fa-paper-plane
    .footer-main
        .container
            .ft-widget-area
                .row
                    .col-md-3.col-sm-6
                        .ft-area1
                            .swin-widget.swin-widget-about
                                .clearfix
                                    a.wget-logo
                                        img.img.img-fluid(src='assets/images/logo-ft.png', alt='')
                                .wget-about-content
                                    p
                                        | Eiusmod consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    p
                                        | Lorem ipsum dolor sit amet, eiusmod consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    ul.socials.socials-about.list-unstyled.list-inline.float-start.mtm
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-pinterest
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-google-plus
                    .col-md-3.col-sm-6
                        .ft-area1
                            .swin-widget.widget-about
                                .title-widget
                                    | Contact Us
                                .widget-body.widget-content.clearfix
                                    .about-contact-info.clearfix
                                        .info-content.address-content
                                            .info-icon
                                                i.fa.fa-map-marker
                                            .info-text
                                                p 157 White Oak Drive Kansas City 
                                                p 689 Lynn Street South Boston
                                        .info-content.phone-content
                                            .info-icon
                                                i.fa.fa-phone
                                            .info-text
                                                p (617)-276-8031
                                                p (617)-276-8031
                                        .info-content.email-content
                                            .info-icon
                                                i.fa.fa-envelope
                                            .info-text
                                                p admin@fooday.com
                                                p support@fooday.com
                    .col-md-3.col-sm-6
                        .ft-area1
                            .swin-widget.widget-pages
                                .title-widget
                                    | Useful Link
                                .widget-body.widget-content
                                    ul.list-unstyled
                                        li
                                            a.link-underline.link-underline-opacity-0.link(href='#')
                                                span.text About Us
                                        li
                                            a.link-underline.link-underline-opacity-0.link(href='#')
                                                span.text Customer Service
                                        li
                                            a.link-underline.link-underline-opacity-0.link(href='#')
                                                span.text Contact Us
                                        li
                                            a.link-underline.link-underline-opacity-0.link(href='#')
                                                span.text Latest News
                                        li
                                            a.link-underline.link-underline-opacity-0.link(href='#')
                                                span.text FAQs
                                        li
                                            a.link-underline.link-underline-opacity-0.link(href='#')
                                                span.text Product Support
                    .col-md-3.col-sm-6
                        .ft-area1
                            .swin-widget.widget-open-hour
                                .title-widget
                                    | Open Hour
                                .widget-body.widget-content
                                    .open-date-time
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Tuesday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p 7AM - 9PM
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Wednesday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p 7AM - 9PM
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Thursday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p 7AM - 9PM
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Friday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p 7AM - 9PM
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Saturday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p 7AM - 9PM
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Sunday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p 7AM - 9PM
                                        .open-date-time-item
                                            .open-date
                                                .open-date-item
                                                    .open-date-text
                                                        p Monday:
                                                    .open-date-dot .......................................
                                            .open-time
                                                .open-time-item
                                                    p Close
