footer
    div.subscribe-section
        img.img-subscribe(src="assets/images/background/bg5.png", alt="")
        div.container
            .subscribe-wrapper
                div.row.justify-content-center
                    div.col-lg-8.col-lg-offset-2
                        .subscribe-heading
                            h3.title Subcribe Us Now
                            .des Get more news and delicious dishes everyday from us
                        form.widget-newsletter
                            input.form-control(placeholder="Email")
                            span.submit
                                i.fa.fa-paper-plane
    .footer-top
    .footer-main
        .container
            .row
                .col-lg-8
                    .ft-widget-area
                        .ft-area1
                            .swin-wget.swin-wget-about
                                .clearfix
                                    a.wget-logo
                                        img.img.img-fluid(src='assets/images/logo-ft.png', alt='')
                                    ul.socials.socials-about.list-unstyled.list-inline
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-facebook
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-twitter
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-pinterest
                                        li.list-inline-item
                                            a(href='#')
                                                i.fa.fa-google-plus
                                .wget-about-content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor.
                                .about-contact-info.clearfix
                                    .address-info
                                        .info-icon
                                            i.fa.fa-map-marker
                                        .info-content
                                            p 157 White Oak Drive Kansas City 
                                            p 689 Lynn Street South Boston
                                    .phone-info
                                        .info-icon
                                            i.fa.fa-mobile-phone
                                        .info-content
                                            p (617)-276-8031
                                            p (617)-276-8031
                                    .email-info
                                        .info-icon
                                            i.fa.fa-envelope
                                        .info-content
                                            p admin@fooday.com
                                            p support@fooday.com
                .col-lg-4
                    .ft-fixed-area
                        .reservation-box
                            .reservation-wrap
                                h3.res-title Open Hour
                                .res-date-time
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Tuesday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p 7AM - 9PM
                                        .clearfix
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Wednesday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p 7AM - 9PM
                                        .clearfix
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Thursday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p 7AM - 9PM
                                        .clearfix
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Friday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p 7AM - 9PM
                                        .clearfix
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Saturday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p 7AM - 9PM
                                        .clearfix
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Sunday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p 7AM - 9PM
                                        .clearfix
                                    .res-date-time-item
                                        .res-date
                                            .res-date-item
                                                .res-date-text
                                                    p Monday:
                                                .res-date-dot .......................................
                                        .res-time
                                            .res-time-item
                                                p Close
                                        .clearfix
                                h3.res-title Reservation Numbers
                                p.res-number (617)-276-8031
