block header-config
	- var Current_page = 'About Us'

header.header-transparent.home-one-page
	.header-top.top-layout-02
		.container
			.topbar-left
				.topbar-content
					.item 
						.wg-contact
							i.fa.fa-map-marker
							span 157 White Oak Drive Kansas City
					.item 
						.wg-contact
							i.fa.fa-phone
							span 012 987 650
			.topbar-right
				.topbar-content
					.item
						ul.socials-nb.list-inline.wg-social
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-facebook
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-twitter
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-pinterest
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-google-plus
					.item
						.wg-social
							i.fa.fa-user
							span My Account
	.header-main
		.container
			.open-offcanvas &#9776;
			.utility-nav
				.dropdown.dropdown-full-mobile
					a.search-bar.dropdown-toggle(href='#', data-bs-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.fa.fa-shopping-bag
					.dropdown-menu.dropdown-menu-end
						.cart_lite
							.cart_lite_list
								ul
									li.cart_lite_item
										a.cart_item_thumbnail(href='product-single.html')
											img.img-fluid(width='150', height='100', src='assets/images/product/product-circle-1h.jpg', alt='')
										.cart_item_summary
											a.link-underline.link-underline-opacity-0.cart_item_title(href='product-single.html')
												| Caramel Frappuccino
											span.product-price-amount
												span.quantity
													| 1 × 
												span.product-price-currencySymbol $
												| 12.0
										a.link-underline.link-underline-opacity-0.remove_from_cart_button(href='#') ×
									li.cart_lite_item
										a.cart_item_thumbnail(href='product-single.html')
											img.img-fluid(width='150', height='100', src='assets/images/product/product-circle-1k.jpg', alt='')
										.cart_item_summary
											a.link-underline.link-underline-opacity-0.cart_item_title(href='product-single.html')
												| Chocolate Fudge Ripple
											span.product-price-amount
												span.quantity
													| 2 × 
												span.product-price-currencySymbol $
												| 24.0
										a.link-underline.link-underline-opacity-0.remove_from_cart_button(href='#') ×
							.cart_lite_total
								p
									strong Subtotal: 
									span.product-price-amount
										span.product-price-currencySymbo $
										| 60.0
							.cart_lite_button
								a.link-underline.link-underline-opacity-0.swin-btn.btn-sm(href="product-cart.html")
									span View Cart
								a.link-underline.link-underline-opacity-0.swin-btn.btn-sm(href="product-checkout.html")
									span Checkout
				.dropdown
					a.search-bar.dropdown-toggle(href='#', data-bs-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.fa.fa-search
					.dropdown-menu.dropdown-menu-end
						.search-form
							form(action="#")
								.input-group
									input.form-control(type='text', placeholder='Search')
									.input-group-text
										i.fa.fa-search
			.header-logo
				a.logo.logo-static(href='index.html')
					img.logo-img(src='assets/images/logo-white.png', alt='fooday')
				a.logo.logo-fixed(href='index.html')
					img.logo-img(src='assets/images/logo.png', alt='fooday')
			nav#main-nav-offcanvas.main-nav-wrapper
				div.close-offcanvas-wrapper
					span.close-offcanvas x
				.main-nav
					ul#main-nav.nav.nav-pills
						li.nav-item
							a.nav-link(href='#about-us') 
								| About Us
						li.nav-item
							a.nav-link(href='#reservation') Reservation
						li.nav-item
							a.nav-link(href='#menu') Menu
						li.nav-item
							a.nav-link(href='#gallery') Gallery
						li.nav-item
							a.nav-link(href='#blog') Blog
						