block header-config
	- var Current_page = 'Home'

header.header-transparent
	.header-top.top-layout-02
		.container
			.topbar-left
				.topbar-content
					.item 
						.wg-contact
							i.fa.fa-map-marker
							span 160 White Oak Drive Kansas City
					.item 
						.wg-contact
							i.fa.fa-phone
							span 012 987 650
			.topbar-right
				.topbar-content
					.item
						ul.socials-nb.list-inline.wg-social
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-facebook
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-twitter
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-pinterest
							li.list-inline-item
								a(href='javascript:void(0)')
									i.fa.fa-google-plus
					.item
						.wg-social
							i.fa.fa-user
							span My Account
	.header-main
		.container
			.open-offcanvas &#9776;
			.utility-nav
				.dropdown.dropdown-full-mobile.open
					a.search-bar.dropdown-toggle(href='#', data-bs-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.fa.fa-shopping-bag
					.dropdown-menu.dropdown-menu-end
						.cart_lite
							.cart_lite_list
								ul
									li.cart_lite_item
										a.cart_item_thumbnail(href='product-single.html')
											img.img-fluid(width='150', height='100', src='assets/images/product/product-circle-1h.jpg', alt='')
										.cart_item_summary
											a.link-underline.link-underline-opacity-0.cart_item_title(href='product-single.html')
												| Caramel Frappuccino
											span.product-price-amount
												span.quantity
													| 1 × 
												span.product-price-currencySymbol $
												| 12.0
										a.link-underline.link-underline-opacity-0.remove_from_cart_button(href='#') ×
									li.cart_lite_item
										a.cart_item_thumbnail(href='product-single.html')
											img.img-fluid(width='150', height='100', src='assets/images/product/product-circle-1k.jpg', alt='')
										.cart_item_summary
											a.link-underline.link-underline-opacity-0.cart_item_title(href='product-single.html')
												| Chocolate Fudge Ripple
											span.product-price-amount
												span.quantity
													| 2 × 
												span.product-price-currencySymbol $
												| 24.0
										a.link-underline.link-underline-opacity-0.remove_from_cart_button(href='#') ×
							.cart_lite_total
								p
									strong Subtotal: 
									span.product-price-amount
										span.product-price-currencySymbo $
										| 60.0
							.cart_lite_button
								a.link-underline.link-underline-opacity-0.swin-btn.btn-sm(href="product-cart.html")
									span View Cart
								a.link-underline.link-underline-opacity-0.swin-btn.btn-sm(href="product-checkout.html")
									span Checkout
				.dropdown
					a.search-bar.dropdown-toggle(href='#', data-bs-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.fa.fa-search
					.dropdown-menu.dropdown-menu-end
						.search-form
							form(action="#")
								.input-group
									input.form-control(type='text', placeholder='Search')
									.input-group-text
										i.fa.fa-search
			.header-logo
				a.logo.logo-static(href='index.html')
					img.logo-img(src='assets/images/logo-white.png', alt='fooday')
				a.logo.logo-fixed(href='index.html')
					img.logo-img(src='assets/images/logo.png', alt='fooday')
			nav#main-nav-offcanvas.main-nav-wrapper
				div.close-offcanvas-wrapper
					span.close-offcanvas x
				.main-nav
					ul#main-nav.nav.nav-pills
						li.nav-item.dropdown.dropdown--hover(class=(Current_page == 'Home' ? 'current-menu-item' : ''))
							a.nav-link.dropdown-toggle(href='#', data-bs-toggle="dropdown" role="button", aria-haspopup="true", aria-expanded="false")
								| Home
							i.fa.fa-angle-down.btn-open-dropdown
							ul.dropdown-menu
								li(class=(Current_page == 'Reservation' ? 'current-menu-item' : ''))
									a.dropdown-item(href='index.html') Home 1
								li
									a.dropdown-item(href='homepage2.html') Home 2
								li
									a.dropdown-item(href='homepage3.html') Home 3
								li
									a.dropdown-item(href='home-fullpage.html' target='_blank') Home Full Page
								li
									a.dropdown-item(href='home-shop.html') Home Shop
								li
									a.dropdown-item(href='homesidebarmenu.html') Home Sidebar Menu
								li
									a.dropdown-item(href='home-one-page.html' target='_blank') Home One Page
								li
									a.dropdown-item(href='home-boxed.html') Home Boxed
						li.nav-item(class=(Current_page == 'About' ? 'current-menu-item' : ''))
							a.nav-link(href='about.html') About
						li.nav-item(class=(Current_page == 'Reservation' ? 'current-menu-item' : ''))
							a.nav-link(href='reservation.html') Reservation
						li.nav-item.dropdown.dropdown--hover(class=(Current_parent == 'menu' ? 'current-menu-item' : ''))
							a.nav-link(href='menu-grid-1.html') Menu
							ul.dropdown-menu
								li(class=(Current_page == 'menu-classic' ? 'current-menu-item' : ''))
									a.dropdown-item(href='menu-classic.html') Menu Classic
								li(class=(Current_page == 'menu-grid-01' ? 'current-menu-item' : ''))
									a.dropdown-item(href='menu-grid-1.html') Menu Grid 01
								li(class=(Current_page == 'menu-grid-01' ? 'current-menu-item' : ''))
									a.dropdown-item(href='menu-grid-2.html') Menu Grid 02
								li(class=(Current_page == 'menu-grid-03' ? 'current-menu-item' : ''))
									a.dropdown-item(href='menu-grid-3.html') Menu Grid 03
								li(class=(Current_page == 'product-single' ? 'current-menu-item' : ''))
									a.dropdown-item(href='product-single.html') Product Detail
								li(class=(Current_page == 'product-cart' ? 'current-menu-item' : ''))
									a.dropdown-item(href='product-cart.html') Product Cart
								li(class=(Current_page == 'product-checkout' ? 'current-menu-item' : ''))
									a.dropdown-item(href='product-checkout.html') Product Checkout
						li.nav-item.dropdown.dropdown--hover(class=(Current_parent == 'blogs' ? 'current-menu-item' : ''))
							a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								| Blog
							i.fa.fa-angle-down.btn-open-dropdown
							ul.dropdown-menu
								li(class=(Current_page == 'blogs' ? 'current-menu-item' : ''))
									a.dropdown-item(href='blogs.html') Blog List
								li(class=(Current_page == 'blog-single' ? 'current-menu-item' : ''))
									a.dropdown-item(href='blog-single.html') Blog Single
								li(class=(Current_page == 'page-404' ? 'current-menu-item' : ''))
									a.dropdown-item(href='page-404.html') 404 Page
						li.nav-item(class=(Current_page == 'Contact' ? 'current-menu-item' : ''))
							a.nav-link(href='contact.html') Contact