// search
.swin-widget.widget-search
    .title-widget
        form.search-form(accept-charset='utf-8')
            input.search-input(type='search', placeholder='Search', name='s', value='')
            span.search-submit
                i.fa.fa-search
// categories
.swin-widget.widget-categories
    .title-widget
        | Category
    .widget-body.widget-content.clearfix
        a.link-underline.link-underline-opacity-0.link(href='#')
            i.icons.fa.fa-angle-right
            span.text hot Drink
            span.badge 12
        a.link-underline.link-underline-opacity-0.link(href='#')
            i.icons.fa.fa-angle-right
            span.text spicy food
            span.badge 14
        a.link-underline.link-underline-opacity-0.link(href='#')
            i.icons.fa.fa-angle-right
            span.text New Dishes
            span.badge 17
        a.link-underline.link-underline-opacity-0.link(href='#')
            i.icons.fa.fa-angle-right
            span.text Dessert
            span.badge 07
        a.link-underline.link-underline-opacity-0.link(href='#')
            i.icons.fa.fa-angle-right
            span.text Discount Event
            span.badge 06
// recent post
.swin-widget.widget-recent-post
    .title-widget
        | Recent Post
    .widget-body.widget-content.clearfix
        .swin-media
            .content-left
                a(href='#')
                    img.media-object(src='assets/images/widget/wg-recent-post1.jpg', alt='...')
            .content-right
                a.link-underline.link-underline-opacity-0.heading(href='#')
                    | Chinese Spicy Food Is Make
                    | By Jankan-Cook
                .info
                    div
                        i.swin-icon.fa.fa-clock-o
                        span.text 20 minutes ago
        .swin-media
            .content-left
                a(href='#')
                    img.media-object(src='assets/images/widget/wg-recent-post2.jpg', alt='...')
            .content-right
                a.link-underline.link-underline-opacity-0.heading(href='#')
                    | Recipe Collection From
                    | Master Chef KingDom
                .info
                    div
                        i.swin-icon.fa.fa-clock-o
                        span.text 06 minutes ago
        .swin-media
            .content-left
                a(href='#')
                    img.media-object(src='assets/images/widget/wg-recent-post3.jpg', alt='...')
            .content-right
                a.link-underline.link-underline-opacity-0.heading(href='#')
                    | The Best Nutrition For Your
                    | Daily Meal
                .info
                    div
                        i.swin-icon.fa.fa-clock-o
                        span.text 04 hours ago
// tag
.swin-widget.widget-tag
    .title-widget
        | TAG
    .widget-body.widget-content.clearfix
        ul.list-unstyled.list-inline
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') Sea Food
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') Vegetables Meal
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') spicy
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') 5 start restaurent
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') new menu
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') traditional food
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') drink
            li.list-inline-item
                a.link-underline.link-underline-opacity-0.tag(href='http://localhost/floury/tag/wordpress-tv/') nutrition
// gallery
.swin-widget.widget-gallery.carousel
    .title-widget
        | Gallery
    .widget-body.widget-content.clearfix
        .main-slider
            .item-slide
                img.img-fluid.showcase(src='assets/images/widget/wg-gallery1.jpg', alt='')
            .item-slide
                img.img-fluid.showcase(src='assets/images/widget/wg-gallery1.jpg', alt='')
            .item-slide
                img.img-fluid.showcase(src='assets/images/widget/wg-gallery1.jpg', alt='')
            .item-slide
                img.img-fluid.showcase(src='assets/images/widget/wg-gallery1.jpg', alt='')
            .item-slide
                img.img-fluid.showcase(src='assets/images/widget/wg-gallery1.jpg', alt='')
