@font-face {
  font-family: Optima;
  src: url('../fonts/optima/OPTIMA.TTF');
}

@font-face {
  font-family: Heletica;
  src: url('../fonts/helvetica/Helvetica.ttf');
}

* {
  font-family: Helvetica;
}

.title,
.title *,
.page-title .title,
.page-title .title *,
.timeline-heading,
.timeline-heading *,
.swin-sc-title .title,
.subscribe-wrapper .title,
.res-title {
  font-family: Optima !important;
}

.swin-sc-title.style-4 .title {
  font-size: 50px;
}

.close-offcanvas {
  cursor: pointer;
}


#main-nav>li {
  padding: 0 8px;
}

.top-header .slide-content .slide-icon {
  max-width: 400px;
}

#section-booking-deposit ul {
  font-size: 16px;
}

.top-bg-parallax .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.footer-bottom {
  height: auto;
  padding-bottom: 1rem;
  opacity: 1;
  background: none !important;
}

.footer-bottom * {
  color: white !important;
}

.footer-bottom a {
  text-decoration: none;
}

.ft-fixed-area .reservation-wrap .res-date,
.ft-fixed-area .reservation-wrap .res-time {
  width: 50%;
}